<a href="https://colab.research.google.com/github/arpitad001/AlgoLab/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Data Analysis Using Pandas
#Data structure with series without indexing
import pandas as pd
s=pd.Series([98,48,54,66,87,76,44])

In [5]:
type(s)

pandas.core.series.Series

In [6]:
print(s)

0    98
1    48
2    54
3    66
4    87
5    76
6    44
dtype: int64

In [7]:
#Data structure with series with indexing
s1=s=pd.Series([98,48,54,66,87,76,44], index=["Ram","shyam","Arrpita","Rohan","Sohan","Sita","Gita"])

In [8]:
s1

Ram        98
shyam      48
Arrpita    54
Rohan      66
Sohan      87
Sita       76
Gita       44
dtype: int64

In [10]:
s1["Arrpita"]

np.int64(54)

In [13]:
#Data structure with DataFrame - 2D Labeled
data={"Name":["Deevyansh","shyam","Arrpita","Rohan"],"Marks":[98,48,54,66],"City":["Vrindavan","Pune","Mau","Varanasi"]}

In [14]:
pd.DataFrame(data)

        Name  Marks       City
0  Deevyansh     98  Vrindavan
1      shyam     48       Pune
2    Arrpita     54        Mau
3      Rohan     66   Varanasi